{% extends 'users/base.html' %}


{% block title %}
    Home          
{% endblock title %}



{% block content %}

    <div class='container my-5'>
        <div class='row'>

            <div class='col-md-6'>

                <h1 class='display-4'>Welcome to the Blog</h1>
                <p class='lead'>This is a simple blog application built with DJango and MySQL</p>

                <a href="{% url 'change-password' %}" class='btn btn-primary'>Changed Password</a>
                <a href="{% url 'password_reset' %}" class='btn btn-secondary'>Reset Password</a>
                
            </div>
        </div>


        <div class='row my-5'>
            {% for post in posts %}
                <div class='col-md-6'>
                    <div class="card mb-3">
                        <img src="{{ post.image.url }}" class="card-img-top" alt="Image">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>    
                            <p class="card-text">{{ post.caption }}</p>
                            <a href="#" class="btn btn-primary">Like</a>
                            <a href="#" class="btn btn-secondary">Comment</a>
                            <a href="#" class="btn btn-info">Share</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        
     

    </div>



{% endblock content %}



{% block scripts %}
    
{% endblock scripts %}