{% extends 'users/base.html' %}


{% block title %}
    Login          
{% endblock title %}



{% block content %}

    <div class='container my-5'>
        <div class='row'>

            <form method='post'>
                {% csrf_token %}
                
                {{form.as_p}}

                <button type='submit' class='btn btn-primary'>Login</button>

                <a href="{% url 'password_reset' %}" class='text-danger'>Forget Password</a>

            </form>
        </div>
    </div>



{% endblock content %}



{% block scripts %}
    
{% endblock scripts %}